@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Red400: hsl(0, 100%, 74%);
    --Green400: hsl(154, 59%, 51%);
    --Purple700: hsl(248, 32%, 49%);
    --Gray900: hsl(249, 10%, 26%);
    --Purple350: hsl(246, 25%, 77%);

    /*Shadows*/
    --Green500: hsl(145, 59%, 40%, 80%);
    --Black0200:rgba(0, 0, 0, 0.200);
    --Black0150: rgba(0, 0, 0, 0.150);
}

body{
    background-color: var(--Red400);
    background-image: url(images/bg-intro-mobile.png);
    color: white;
    font: 16px normal, "Poppins", sans-serif;
    height: 100dvh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 30px 30px;
}

#main-title{
    text-align: center;
    line-height: 1.2em;
    padding-bottom: 30px;
}

.description{
    opacity: 90%;
    text-align: center;
}

#main-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.ads{
    background-color: var(--Purple700);
    text-align: center; 
    padding: 20px;
    border-radius: 10px;
    margin: 30px 30px 0px 30px;
    box-shadow: 0px 8px 1px var(--Black0150);
    width: 90%;
    max-width: 800px;
}

.ads strong{
    opacity: 100%
}

.ads span{
    opacity: 80%;
}

.signup{
    display: flex;
    flex-flow: column wrap;
    padding: 30px 20px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0px 10px 1px var(--Black0200);
}

.signup form{
    display: flex;
    flex-flow: column wrap;
}

.inputSignup{
    margin-bottom: 15px;
    padding: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--Black0200); 
}

.inputSignup::placeholder{
    font-weight: bold;
    font-size: 1.1em;
}

.signup input[type='submit']{
    background-color: var(--Green400);
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    cursor: pointer;
    box-shadow: 0px 5px 1px var(--Green500);
    border: none;
}

.signup input[type='submit']:hover{
    background-color: rgb(12, 245, 120);
    box-shadow: 0px 5px 1px rgb(12, 230, 120);
}

.termservice{
    text-align: center;
    color: var(--Purple350);
    font-size: 0.8em;
    font-weight: 600;
}

.termservice a{
    color: var(--Red400);
    text-decoration: none;
    font-weight: bold;
}

.termservice a:hover{
    text-decoration: underline;
}



.error{
    background: url(images/icon-error.svg) no-repeat left center;
    background-position-x: 20px;
}