@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Red400: hsl(0, 100%, 74%);
    --Green400: hsl(154, 59%, 51%);
    --Purple700: hsl(248, 32%, 49%);
    --Gray900: hsl(249, 10%, 26%) ;
    --Purple350: hsl(246, 25%, 77%);
}

body{
    background-color: var(--Red400);
    background-image: url(images/bg-intro-mobile.png);
    color: white;
    font: 16px normal, "Poppins", sans-serif;
    height: 100dvh;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    padding: 30px 30px;
    border: 2px dashed red;
}

#main-title{
    line-height: 1.2em;
    padding-bottom: 30px;
}

.description{
    opacity: 90%;
    text-align: center;
}

.ads{
    background-color: var(--Purple700);
    text-align: center;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 30px 0px 30px;
    box-shadow: 0px 8px 1px rgba(0, 0, 0, 0.200);
}

.ads strong{
    opacity: 100%
}

.ads span{
    opacity: 80%;
}

.signup{
    display: flex;
    flex-flow: column wrap;
    padding: 30px 20px;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
}

.signup form{
    display: flex;
    flex-flow: column;
}

.inputSignup{
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.200);
}