@media screen and (min-width: 550px) {
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(images/bg-intro-desktop.png);
    }
    header{
        max-width: 50%;
    }
    .main-container{
        max-width: 50%;
    }
}